[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
